<section class="row" data-ng-controller="AuthenticationController">
    <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
        <fieldset>

            <h3>Sign up using your email</h3>
            <md-input-container class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName">
                <a class="clear" ng-click="credentials.firstName = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName">
                <a class="clear" ng-click="credentials.lastName = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email">
                <a class="clear" ng-click="credentials.email = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
                <a class="clear" ng-click="credentials.username = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
                <a class="clear" ng-click="credentials.password = null">clear</a>
            </md-input-container>

<!--
            <grid-panel ng-repeat="user in users" on-panel-opened="panelIsOpened(user)" on-panel-closed="panelIsClosed(user)">
                <grid-panel-item>
                    <div>
                        Grid item template {{ user.user }}
                    </div>
                </grid-panel-item>
                <grid-panel-content>
                    <div>
                        Opening panel template Opened: {{ user.user }}
                        <img ng-src="{{user.path}}" /> - <em>{{user.user}}</em>
      
                    </div>
                </grid-panel-content>
            </grid-panel>
-->

<!--
            <p>Selected Avatar: <span class="radioValue">{{ user.user }}</span> </p>
            <md-radio-group ng-model="user.user[selectedIndex]">
                <md-radio-button ng-repeat="user in users" value="user">
                    <img ng-src="{{user.path}}" /> - <em>{{user.user}}</em>
                </md-radio-button>
            </md-radio-group>
-->
            <div class="text-center form-group">
                <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
                <a href="/#!/signin" class="show-signup">Sign in</a>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>