<section class="row" data-ng-controller="AuthenticationController">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
                
	<h3>Sign in with your account</h3>
				<md-input-container class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" required name="username" class="form-control" data-ng-model="credentials.username" >
                    <a class="clear" ng-click="credentials.username = null">clear</a>
				</md-input-container>
				<md-input-container class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password"required  name="password" class="form-control" data-ng-model="credentials.password" >
                    <a class="clear" ng-click="credentials.password = null">clear</a>
				</md-input-container>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
</section>
