
#detail-page {
    height: 550px;
    background: $darker-background;
    width: 45%;
    padding: 0 10px 10px 10px;
    top: 300px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    h3 {
        font-family: $font-light;
        text-transform: none;
        width: 100%;
        border-bottom: 1px solid $grey;
        padding-bottom: 5px;
        .md-button {
            float: right;
            text-indent: -9999px;
            width: 25px;
            height: 25px;
            transition: all 0.3s ease-in-out;
            margin: -10px 5px 0 5px;
            border-radius: 50%;
            &:hover {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
            &#edit {
                background: url('../img/brand/icons/edit.svg')no-repeat;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                &:hover {
                    background: url('../img/brand/icons/edit.svg')no-repeat!important;
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
            }
            &#hide {
                background: url('../img/brand/icons/close.svg')no-repeat;
                &:hover {
                    background: url('../img/brand/icons/close.svg')no-repeat!important;
                }
            }
        }
    }
    b {
        font-family: $font-bold;
        padding-right: 10px;
    }
    h1 {
        margin-bottom: 5px;
        font-size: 24px;
        text-transform: uppercase;
        font-family: $font-black;
        b {
            font-size: 16px;
            text-transform: none;
        }
    }
    span {
        padding-top: 5px;
    }
    p {
        margin-bottom: 5px;
    }
    pre {
        width: 100%;
        height: 150px;
        margin-top: 20px;
        padding: 10px;
    }
    #grainList {
        padding: 0;
        li {
            border-bottom: 2px solid $orange!important;
            padding: 0 5px;
            margin: 0px 15px 0 0;
            line-height: 1;
            display: inline-block;
            float: left;
            &:hover, &:active, &.active {
                background-color: $orange;
                color: white;
                box-shadow: none;
                border: none;
                border-bottom: 2px solid $orange!important;
            }
            span {
                padding: 0px;
            }
        }
    }
    .tagClass, .granularityClass {
        border-bottom: 2px solid $blue;
        padding: 5px 5px 4px 5px;
        line-height: 1;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        margin-right: 10px;
        &:hover, &:active, &.active {
            background: $blue!important;
            color: white;
        }
    }
    .granularityClass{
              border-bottom: 2px solid $pink; 
            &:hover, &:active, &.active {
                background: $pink!important;
            }
        }
    button#copy {
        float: right;
        clear: left;
        margin: 10px 0 0 0;
        border: 1px solid $grey;
        padding: 15px 25px;
        line-height: 0px;
    }
}

md-backdrop{
    display: none;
}