// ================  input search customisation  =======================
md-input-container {
    display: block;
    width: 60%;
    margin: -10px auto 0 auto;
    &:hover label {
        color: $orange;
    }
    
    span {
        font-size: 24px;
        text-transform: uppercase;
        color: $grey;
        font-family: $font-black;
    }
    label {
        font-size: 24px;
        line-height: 20px;
        padding-top: 22px;
        font-style: italic;
        color: $grey;
        display: block;
        &:before {
            content: "Start typing...";
        }
    }
    input[type="text"] {
        -webkit-appearance: none;
        &:hover, &:focus, &:active {
            outline: 0px!important;
        }
    }
    .form-control {
        width: 100%;
        font-family: $font-black;
        height: 49px;
        text-transform: uppercase;
        padding: 0px;
        font-size: 55px;
        color: $font-color;
        background: none;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $grey !important;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        outline: none!important;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        &:hover, &:focus, &:active {
            outline: none!important;
        }
    }
}


md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
    color: $grey;
    &:before {
        content: "Keep typing...";
    }
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
    color: $orange;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value input {
    height: 71px;
}

.tags-wrapper {
    md-input-container label, md-input-container .md-placeholder {
        -webkit-transform: translate3d(0, 42px, 0) scale(1.24);
        transform: translate3d(0, 42px, 0) scale(1.24);
    }
    md-input-container.md-input-focused label,
    md-input-container.md-input-has-value label {
        -webkit-transform: translate3d(0, 4px, 0) scale(0.75);
        transform: translate3d(0, 4px, 0) scale(0.75);
    }
}

// ================  tags List customisation  =======================
.top-buffer {
    padding-top: 20px;
}

.tags-cloud {
    .tag {
        float: left;
        padding: 2px 6px;
        font-size: 13px;
        margin-top: 5px;
        margin-right: 7px;
        margin-bottom: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-bottom: 2px solid $orange;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        cursor: pointer;
        span {
            font-size: 13px;
            border-radius: none;
        }
        .cross {
            background: url('../img/brand/icons/cross.svg') no-repeat;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-right: 3px;
            font-size: 0;
            cursor: pointer;
            &:hover {
                background: url('../img/brand/icons/cross-hover.svg') no-repeat;
            }
        }
        &:hover {
            background-color: $orange;
            color: white;
            .cross {
                background: url('../img/brand/icons/cross-hover.svg') no-repeat;
            }
        }
    }
}