
header.navbar {
    background: $background;
    padding: 0;
    height: 44px !important;
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: none;
}

.navbar-header button {
    height: 44px;
    width: 44px;
}

.navbar-nav {
    background: $background;
    li {
        a {
            height: 44px;
            line-height: 14px;
            color: white!important;
            cursor: pointer;
            border-right: 1px solid $border-header;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease-in-out;
            background: $background;
            &:hover, &:focus {
                border-bottom: 2px solid $orange;
                border-right-color: $border-header;
                border-left-color: $border-header;
            }
        }
        .dropdown-menu {
            background: $background;
            padding: 0;
            min-width: 0px;
            li {
                a {
                    border: none;
                    line-height: 44px;
                    padding: 0 13px;
                    &:hover, &:focus {
                        border-bottom: 2px solid $orange!important;
                        background: $background;
                    }
                }
                &.active a {
                    border-bottom: 2px solid $orange!important;
                }
            }
        }
        &.open,
        &.active {
            background-color: none;
        }
        &.open > a,
        &.active > a {
            background: none!important;
            border-bottom: 2px solid $orange;
            &:hover, &:focus {
                background: none;
                border-right: 1px solid $border-header;
            }
        }
    }
}

.navbar-right {
    li {
        a {
            border-left: 1px solid $border-header;
            &.dropdown-toggle {
                padding: 0!important;
                span {
                    background: url(../img/brand/account/account_Rahul.svg)no-repeat;
                    width: 44px;
                    height: 44px;
                    text-indent: -9999px;
                    display: block;
                }
                b {
                    display: none;
                }
            }
        }
        &.open > a,
        &.active > a {
            &:hover, &:focus {
                border-left: 1px solid $border-header;
            }
        }
    }
}

.dropdown-menu {
    li {
        a {
            padding: 0 32px!important;
        }
    }
}

.navbar-collapse {
    height: 44px;
}

.navbar-brand {
    background: rgba(237, 137, 63, 0) url("../img/brand/logo.svg") no-repeat;
    width: 183px;
    height: 44px;
    border-bottom: 2px solid transparent;
    //    @include transition(all 0.3s ease-in-out);
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #66788b;
    &:hover, &:focus, &:active {
        border-bottom: 2px solid $orange;
        background-color: rgba(237, 137, 63, 0.4);
    }
}
