// ================  suggestion list customisation  =======================
.suggestions-list {
    float: left;
    width: 55%;
    height: 550px;
    font-size: 14px;
    padding: 0px 10px 0 0px;
    overflow-y: scroll;
    margin: 50px auto 30px auto;
    overflow: auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    li {
        color: $font-color;
        padding: 10px;
        font-size: 13px;
        cursor: auto;
        overflow: auto;
        border-top: 1px solid $grey !important;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        position: relative;
        &:hover, &:active, &.active {
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.4)!important;
            background-color: $darker-background;
        }
        &:focus {
            outline: none;
        }
        h1 {
            font-size: 24px;
            text-transform: uppercase;
            font-family: $font-black;
        }
        span {
            float: left;
            padding-top: 5px;
        }
        p {
            float: right;
            margin-top: -23px;
        }
        pre {
            width: 50%;
            float: right;
            height: 50px;
            margin-top: -15px;
            padding: 5px;
        }
        #tagsList {
            margin: 0 0 10px 0;
            clear: both;
            #grainList {
                padding: 0;
                float: left;
                li {
                    height: auto;
                    list-style-type: none;
                    border-radius: 0!important;
                    border: none!important;
                    border-bottom: 2px solid $orange!important;
                    padding: 3px 5px 0 5px;
                    margin: 16px 7px 0 0;
                    line-height: 1;
                    -webkit-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    &:hover, &:active, &.active {
                        background-color: $orange;
                        color: white;
                        box-shadow: none;
                        border-bottom: 2px solid $orange!important;
                    }
                    span {
                        padding: 0;
                        margin: 5px 0 0 0;
                        
                    }
                }
            }
            .tagClass,
            .granularityClass {
                border-bottom: 2px solid $blue;
                padding: 3px 5px 0 5px;
                margin: 16px 7px 0 0;
                line-height: 1;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                &:hover, &:active, &.active {
                    background: $blue!important;
                    color: white;
                }
            }
            .granularityClass {
                border-bottom: 2px solid $pink;
                &:hover, &:active, &.active {
                    background: $pink!important;
                }
            }
        }
        #buttons{
            margin: 24px 0 0 0;
            .md-button{
             
            border-radius: 50%;   
            }
            .open, .show {
                float: right;
                text-indent: -9999px;
                width: 25px;
                height: 25px;
                transition: all 0.3s ease-in-out;
                margin: 0 0px 0px 7px;
            }
            .open {
                background: url('../img/brand/icons/close.svg')no-repeat;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                &:hover {
                    background: url('../img/brand/icons/close.svg')no-repeat!important;
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
            }
            .show {
                background: url('../img/brand/icons/show.svg')no-repeat;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                &:hover, &:focus, &:active {
                    background: url('../img/brand/icons/show.svg')no-repeat!important;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.animate-hide {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    opacity: 1;
    border-top: 1px solid $grey;
    margin: 70px 0 0 0 ;
    
    h3{
        font-size: 16px;
        font-family: $font-light;
        color: $font-color;
        text-transform:capitalize;
        margin-bottom: 10px;
    }
    li{
        border: none!important;
        padding-top: 20px;
        cursor:auto;
        &:hover, &:active, &.active {
            box-shadow: none!important;
            border: none!important;
        }
        
        .author{
            float: left;
            text-transform: capitalize;
        }
        .date{
            float: right;
            clear: left;
        }
    }
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}