@import 'font';
@import 'config';
@import 'reset';
//import other style pages
@import 'form-pages';
@import 'detail-page';
@import 'var-list';
@import 'nav-bar';
@import 'input-search';
body,
html {
    font-family: $font-light;
    background: $light-background;
    height: 100%;
//    overflow-y:scroll;
}

// fix the problem of blue glow on focus for any inupt fields
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(255, 255, 255, 0);
    outline: 0 none;
}

content {
    overflow: visible;
    height: 100%;
}

.md-button {
    text-transform: lowercase;
    height: 28px;
    background: none;
    border-radius: 0;
}

.md-button.md-default-theme:not([disabled]):hover,
{
    background: none!important;
}

.md-button.md-default-theme {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.jumbotron h1 {}

.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.clear {
    opacity: 0;
    background: url('../img/brand/icons/close.svg') no-repeat;
    position: absolute;
    clear: both;
    bottom: 45px;
    right: -100px;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
//    -webkit-transform: rotate(0deg);
//        transform: rotate(0deg);
    border-radius: 50%;
    &:hover, &:focus, &:active {
        background-color:$darker-background;
        outline: none;
    }
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value .clear {
    opacity:1;
    right: -45px;
//    -webkit-transform: rotate(-180deg);
//        transform: rotate(-180deg);
}

// ================== Footer customisation ===================
footer {
    clear: both;
    border-top: 1px solid $darker-background;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    height: 50px;
    color: $grey;
    margin-top: 30px!important;
    img {
        margin: 0px 10px 0 0;
    }
    p {}
}