<section class="row" data-ng-controller="PasswordController">
	<h3>Restore your password</h3>
	<p>Enter your account username.</p>
		<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<md-input-container class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</md-input-container>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</fieldset>
		</form>
</section>