<section class="row" data-ng-controller="PasswordController">
	<h3>Reset your password</h3>
		<form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<md-input-container class="form-group">
					<label for="newPassword">New Password</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                    <a class="clear" ng-click="passwordDetails.newPassword = null">clear</a>
				</md-input-container>
				<md-input-container class="form-group">
					<label for="verifyPassword">Verify Password</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</md-input-container>
                <a class="clear" ng-click="passwordDetails.verifyPassword = null">clear</a>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Update Password</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</fieldset>
		</form>
</section>