<section data-ng-controller="VariablesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Variable</h1>
    </div>
    <div class="col-md-12">
        <form name="variableForm" class="form-horizontal" data-ng-submit="update(variableForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && variableForm.title.$invalid}">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="variable.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && variableForm.title.$invalid" class="help-block">
                        <p ng-show="variableForm.title.$error.required" class="text-danger">Title is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && variableForm.content.$invalid}">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea name="content" data-ng-model="variable.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
                    </div>
                    <div ng-show="submitted && variableForm.content.$invalid" class="help-block">
                        <p ng-show="variableForm.content.$error.required" class="text-danger">Content is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
