<section data-ng-controller="VariablesController">
    <div data-ng-if="authentication.user">
        <div class="tags-wrapper">

            <md-input-container>
                <label></label>
                <span>Search Variable Catalogue</span>
                <input type="text" id="searchInput" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="textBox.searchText" ng-change="search()">
                <a class="clear" ng-click="textBox.searchText = null">clear</a>
                <div id="tagsList" class="tags-cloud">
                    <md-button ng-repeat="selectedTag in selectedTags" class="tag">
                        <span class="tagName">{{selectedTag}}</span>
                        <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
                    </md-button>
                </div>
            </md-input-container>


            <ul id="suggestions" class="suggestions-list">
                <li ng-repeat="suggestion in suggestions" class="blockSpan" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">
                    <h1>{{suggestion.elementName}}</h1>
                    <span>Updated on : {{suggestion.settings.CreatedDateTime | date:'MMM d, y h:mm:ss a'}}</span>
                    <p>{{suggestion.settings.PublishDescription}}</p>


                    <!--                    <pre><code>{{suggestion.settings.script}}</code></pre>-->


                    <div id="tagsList">
                        <ul id="grainList" ng-repeat="grain in suggestion.settings.grain_list">
                            <li>
                                <md-button>{{grain}}</md-button>
                            </li>
                        </ul>
                        <span class="tagClass"><md-button>Tag</md-button></span>
                        <span class="granularityClass"><md-button>Grain</md-button></span>
                    </div>
                    <div id="buttons">
                        <md-button ng-click="toggleRight()" class="open">
                            Open detail page
                        </md-button>
                        <md-button ng-click="showRow($index)" class="show">
                            Open publish history
                        </md-button>
                    </div>
                    <div class="animate-hide" ng-show="suggestions[$index].rowClicked">
                        <h3>Publish history</h3>
                        <ul>
                            <li ng-repeat="suggestion in suggestions">
                                <p class="author">{{suggestion.settings.CreatedBy}}</p>
                                <p class="date">Updated on :  {{suggestion.settings.CreatedDateTime | date:'MMM d, y h:mm:ss a'}}</p>
                                <md-divider ng-if="!$last"></md-divider>
                            </li>
                        </ul>

                    </div>



                </li>
            </ul>

            <md-sidenav id="detail-page" class="md-sidenav-right" md-component-id="right">
                <h3>Variable detail page

                    <md-button id="hide" ng-click="close()" class="md-primary">
                        Close
                    </md-button>
                    <md-button id="edit" ng-click="edit()" class="md-primary">
                        Edit
                    </md-button>
                </h3>

                <b>Variable name:</b>
                <h1>{{suggestions[selectedIndex].elementName}}</h1>
                <p><b>Created by:</b>{{suggestions[selectedIndex].settings.CreatedBy}}</p>
                <p><b>Description:</b>{{suggestions[selectedIndex].settings.PublishDescription}}</p>
                <p><b>Created on:</b>{{suggestions[selectedIndex].settings.CreatedDateTime | date:'yyyy-MM-dd'}}</p>
                <p><b>File path:</b>{{suggestions[selectedIndex].settings.filePath}}</p>
                <ul id="grainList" ng-repeat="grain in suggestions[selectedIndex].settings.grain_list">
                    <li>
                        <md-button>{{grain}}</md-button>
                    </li>
                </ul>
                <span class="tagClass"><md-button>Tag</md-button></span>
                <span class="granularityClass"><md-button>Grain</md-button></span>
                <pre><code>{{suggestions[selectedIndex].settings.script}}</code></pre>
                <md-button id="copy" ng-click="copy()">copy</md-button>

            </md-sidenav>

        </div>

    </div>
</section>

