<section data-ng-controller="VariablesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Variables</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="variable in variables" data-ng-href="#!/variables/{{variable._id}}" class="list-group-item">
            <small class="list-group-item-text">
                created on
                <span data-ng-bind="variable.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="variable.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="variable.title"></h4>
            <p class="list-group-item-text" data-ng-bind="variable.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="variables.$resolved && !variables.length">
        No variables yet, why don't you <a href="/#!/variables/create">create one</a>?
    </div>
</section>
