<section data-ng-controller="VariablesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="variable.title"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == variable.user._id">
        <a class="btn btn-primary" href="/#!/variables/{{variable._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="variable.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="variable.user.displayName"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="variable.content"></p>
</section>
