<section class="row" data-ng-controller="SettingsController">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
	<h3>Change your password</h3>
				<md-input-container class="form-group">
					<label for="currentPassword">Current Password</label>
					<input type="password" required id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword">
                    <a class="clear" ng-click="passwordDetails.currentPassword = null">clear</a>
				</md-input-container>
				<md-input-container class="form-group">
					<label for="newPassword">New Password</label>
					<input type="password" required id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword">
                    <a class="clear" ng-click="passwordDetails.newPassword = null">clear</a>
				</md-input-container>
				<md-input-container class="form-group">
					<label for="verifyPassword">Verify Password</label>
					<input type="password" required id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword">
                    <a class="clear" ng-click="passwordDetails.verifyPassword = null">clear</a>
				</md-input-container>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Password</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Password Changed Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
</section>