<section class="row" data-ng-controller="SettingsController">
    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
        <fieldset>
            
    <h3>Edit your profile</h3>
            <md-input-container class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" required name="firstName" class="form-control" data-ng-model="user.firstName">
                <a class="clear" ng-click="user.firstName = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" required name="lastName" class="form-control" data-ng-model="user.lastName">
                <a class="clear" ng-click="user.lastName = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" required name="email" class="form-control" data-ng-model="user.email">
                <a class="clear" ng-click="user.email = null">clear</a>
            </md-input-container>
            <md-input-container class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" required name="username" class="form-control" data-ng-model="user.username">
                <a class="clear" ng-click="user.username = null">clear</a>
            </md-input-container>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
            </div>
            <div data-ng-show="success" class="text-center text-success">
                <strong>Profile Saved Successfully</strong>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>